# Node dependencies
node_modules/
pnpm-lock.yaml
yarn.lock

# Build output
build/
dist/
.cache/
.tmp/

# Environment files
.env*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor & system files
.DS_Store
.idea/
.vscode/

# AWS/infra caches (optional)
amplify/#current-cloud-backend/
amplify/backend/
amplify/#amplify-console/
.aws-sam/
node_modules/
